<!--@subject {{var order.getStoreGroupName()}}: Posodobitev racuna # {{var invoice.increment_id}} @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_trgovina.jpg" _area='frontend'}}" alt="{{var store.getFrontendName()}}" style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                  <strong>Spo&scaron;tovani {{htmlescape var=$order.getCustomerName()}}</strong>,<br/>
                  Va&scaron;e naro&#269;ilo # {{var order.increment_id}} je bilo<br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>Status va&scaron;ega naro&#269;ila lahko preverite tako, da se <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">prijavite v va&scaron; ra&#269;un</a>.</p>
                <p>{{var comment}}</p>
                <p>Za vsa vpra&scaron;anja glede naro&#269;ila nam po&scaron;ljite e-mail ali nas pokli&#269;ite.</p>
              <p>Hvala za zaupanje,<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>